@import url("https://fonts.googleapis.com/css?family=Roboto:100,300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  color: white;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #161616;
}

.text-thin {
  font-weight: 100;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  height: 10vh;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header .logo-container h1 {
  font-size: 2.5vh;
}

header .logo-container h4 {
  font-size: 1.6vh;
  color: #626262;
}

header ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header ul li {
  font-size: 2vh;
  margin-left: 60px;
}

main {
  background: linear-gradient(160deg, rgba(49, 12, 95, 0.8), rgba(41, 11, 90, 0.8), #061b64), url("../assets/bg.jpg") no-repeat;
  background-size: cover;
  background-position: top;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 0 20px;
}

main .content h1 {
  margin-top: 3vh;
  font-size: 8vh;
}

main .content h2 {
  font-size: 2.5vh;
}

main .content h3 {
  margin-top: 3vh;
  margin-bottom: 60px;
  font-size: 2.5vh;
}

main .content i {
  font-size: 7vh;
  -webkit-transition: font-size 0.2s ease-in-out;
  transition: font-size 0.2s ease-in-out;
}

main .content i:hover {
  font-size: 7.8vh;
}

main .icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

main .icons .github {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

main .icons .linkedin {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

#portfolio {
  background: #f1f1f1;
  padding-bottom: 100px;
}

#portfolio .header-grid {
  padding: 150px 0;
  display: -ms-grid;
  display: grid;
  line-height: 2;
  -ms-grid-columns: minmax(20px, 1fr) 1fr 1fr minmax(20px, 1fr);
      grid-template-columns: minmax(20px, 1fr) 1fr 1fr minmax(20px, 1fr);
  gap: 30px;
}

#portfolio .header-grid .sectionA {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  text-align: right;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#portfolio .header-grid .sectionB {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

#portfolio .header-grid .sectionA h1, #portfolio .header-grid .sectionB h1 {
  color: #161616;
  font-size: 4vh;
}

#portfolio .container {
  max-width: 80vw;
  min-width: 800px;
  margin: 0 auto;
  background: #161616;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 2.5;
}

#portfolio .container .btn-box {
  margin-top: 40px;
}

#portfolio .container .btn-box .btn-left {
  padding: 10px 30px;
  margin-left: 20px;
  letter-spacing: 0.1em;
  text-align: center;
  font-size: 1.7vh;
  border-radius: 4px;
  background-color: #7621af;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

#portfolio .container .btn-box .btn-left:hover {
  background-color: #9518e9;
}

#portfolio .container .btn-box .btn-right {
  padding: 10px 30px;
  letter-spacing: 0.1em;
  text-align: center;
  font-size: 1.7vh;
  border-radius: 4px;
  background-color: #7621af;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

#portfolio .container .btn-box .btn-right:hover {
  background-color: #9518e9;
}

#portfolio .container h1 {
  font-size: 5vh;
}

#portfolio .container h3 {
  font-size: 2vh;
  font-style: italic;
}

#portfolio .container p {
  font-size: 1.8vh;
  font-weight: 300;
}

#portfolio .container .text-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: right;
  padding: 40px;
}

#portfolio .container .text-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px;
}

#portfolio .container img {
  width: 40vw;
  height: 40vw;
}

#contact {
  height: 90vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#50505050)), url("../assets/contact-bg.jpg") no-repeat;
  background: linear-gradient(#50505050), url("../assets/contact-bg.jpg") no-repeat;
  background-size: cover;
  background-position: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 40px;
  background-color: #f1f1f1;
  width: 45%;
  height: 100%;
  opacity: 0.9;
}

#contact .box h1 {
  font-size: 8vh;
}

#contact .box .github:first-child {
  margin-right: 30px;
}

#contact .box i {
  margin: 4vh 0;
  font-size: 4vh;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

#contact .box i:hover {
  color: #061b64;
}

#contact .box a {
  color: #161616;
}

#contact .box a:hover {
  color: #061b64;
}

#contact .box h1, #contact .box h2, #contact .box em, #contact .box i, #contact .box form {
  color: #161616;
}

#contact .box form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 4fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 4fr 1fr 1fr;
  gap: 10px;
}

#contact .box form input, #contact .box form textarea {
  color: #161616;
  border: 1px solid #b3b3b3;
}

#contact .box form input {
  height: 100%;
  width: 100%;
  padding: 2vh;
}

#contact .box form .subject, #contact .box form textarea {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  width: 100%;
}

#contact .box form textarea {
  resize: initial;
  padding: 2vh;
}

#contact .box form button {
  font-size: 2vh;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  width: 100%;
  border: none;
  border-radius: 4px;
  background-color: #7621af;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

#contact .box form button:hover {
  background-color: #9518e9;
}

footer {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 3;
}

footer p {
  font-size: 1.8vh;
  margin-top: 50px;
}

footer a {
  font-size: 1.8vh;
}

.d-desk-none {
  display: none;
}

.fade-in {
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

@media (max-device-width: 1200px) {
  header .home-btn {
    display: none;
  }
  #portfolio {
    padding-bottom: 500px;
  }
  #portfolio .container {
    margin-top: 300px;
    padding: 50px 0 0;
    min-width: 100%;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  #portfolio .container img {
    width: 100vw;
    height: 100vw;
  }
  #portfolio .container h3 {
    font-size: 2.8vh;
  }
  #portfolio .container p {
    font-size: 2.5vh;
    margin-bottom: 100px;
  }
  #portfolio .container .text-left, #portfolio .container .text-right {
    text-align: center;
  }
  #portfolio .container .btn-box .btn-right, #portfolio .container .btn-box .btn-left {
    display: block;
    font-size: 2vh;
    margin-bottom: 60px;
    border-radius: 10px;
  }
  #portfolio .container .d-mob-none {
    display: none;
  }
  #portfolio .container .d-desk-none {
    display: block;
  }
  #portfolio .m-top-0 {
    margin-top: 0;
  }
  #contact .box {
    width: 100%;
  }
  #contact .box em {
    font-size: 2vh;
  }
  #contact .box i {
    font-size: 7vh;
    margin: 4vh 2vh;
  }
  #contact .box form input, #contact .box form textarea {
    font-size: 2vh;
    border: 2px solid #b3b3b3;
  }
}
/*# sourceMappingURL=main.css.map */